[Desktop Entry]
Type=Application
Name=Koguma
GenericName=File Manager
Comment=kumaUI file manager
Exec=kuma-files %f
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Icon=kuma-files
StartupWMClass=kuma-files
